*{
    margin: 0;
    padding: 0;
}
#topo{
    height: 30px;
    background-color:rgb(105, 115, 130);
}


#menu ul{
    background-color: rgba(75,0,130,0.9);

}

#menu ul li{
    display: inline-table;
    padding: 20px  30px;
    cursor: pointer;
}

#menu ul li:hover{
    background-color:rgba(75,0,130,0.5);
}

#menu ul li a{
    text-decoration: none;
    color: ivory;
}

#conteudo{
    background-color: rgb(75, 85, 95);
    min-height: 100px;
}

#img{
    background-color: rgba(105, 115, 130);
    
}

#texto{
    background-color: rgba(75, 85, 95);
    padding: 30px;
    font-style: arial;
    text-align: justify ;
}

#texto2{
    background-color: rgb(75, 85, 95);
    padding-left: 120px;

}

#texto3{
    background-color: rgba(75, 85, 95);
    padding: 30px;
    font-style: arial;
    text-align: justify ;
}

#texto4{
    background-color: rgb(75, 85, 95);
    padding-left: 120px;

}

#texto5{
    background-color: rgba(75, 85, 95);
    padding: 30px;
    font-style: arial;
    text-align: justify ;
}

#texto6{
    background-color: rgb(75, 85, 95);
    padding-left: 120px;

}

#img2{
    background-color: rgb(75, 85, 95);
    
}